<div id="title">
    <h1> HN FEED </h1>
    <h4> {{"We <3 Hackers news"}} </h4>
</div>
<table>
    <tr *ngFor="let noticia of noticias">

        <td (click)="onNavigate(noticia)" id="titleNoticia" *ngIf="noticia.story_title != null">
            <h5>{{noticia.story_title}} <a id="author">{{noticia.author}} </a></h5>
        </td>
        <td (click)="onNavigate(noticia)" id="titleNoticia"
            *ngIf="noticia.title != null && noticia.story_title == null">
            <h5>{{noticia.title}}</h5>
        </td>
        <td id="titleNoticia" *ngIf="noticia.story_title != null || noticia.title != null">
            <h5 routerLink={{noticia.url}}>{{noticia.created_at}} <button (click)=deleteNoticia(noticia)>Borrar</button>
            </h5>
        </td>

    </tr>
</table>