table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    
  }
  
  tr{
    border-bottom: 1px #ccc;
    border-bottom: solid;
    text-align: left;
    padding: 8px;
    background-color: #fff;
    border-width: 0.5px;
  }
  
  tr:hover{
    background-color: #fafafa;

  }


  #title {
    padding: 25px;
    background-color: red;
    background-repeat: no-repeat;
    background-size: auto;
  }

  #titleNoticia{
    font-color: #333;
    color: 13pt;

  }

  #author{
    color: #999
  }